<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>FORTNITE API</title>
  </head>
<div class="background">
    <img class="fortnitebg" src="{{ url_for('static',filename='img/fortnite.png')}}" alt="fortnite">
</div>  
<div class="topbar">

</div>
<!--  flask --app flaskr --debug run-->